{% extends 'base.html.twig' %}

{% block title %}Mes aides - Beemymate{% endblock %}

{% block body %}

<div id="aide">
    <header class="header">
        <div class="texte">
            <h1>Mes <span class="couleur">aides</span> !</h1>
            <p>Soyez sûr d'obtenir toutes<br>les aides auxquelles vous avez droit.</p>
        </div>
    </header>

    
<main class="contain">
    <h2>Les aides auxquels tu peux <span class="couleur">prétendres</span> !</h2>
    <h3>Beemymate te simplifie tes démarches : nous avons regroupé toutes les aides qui existent pour les étudiants et jeunes actifs en colocation afin de faciliter tes recherches</h3>

    <div class="container" data-aos="zoom-in">
        <div class="accordeon">
            <div class="accordeon-item">
                <button id="accordeon-button-1" aria-expanded="false"><span class="accordeon-title">Aide personnalisée au logement (APL), qu'est ce que c'est ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>L'aide personnalisée au logement (APL) est une aide financière destinée à réduire le montant du loyer. Elle est versée en raison de la situation de ton logement et ce, quelle que soit ta situation familiale : célibataire, marié, avec ou sans personne à charge. Les conditions d'attribution diffèrent selon que tu es en location ou que tu résides en foyer.<br>
                    Pour savoir si tu peux percevoir l'APL, tu peux utiliser le simulateur de la caisse d'allocations familiales (Caf) ou de la mutualité sociale agricole (MSA) selon le régime auquel tu es rattaché.<br>
                    <a class="lien" href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/estimervosdroits/lelogement/" traget="_blank">Simulateur Caf - Allocations logement</a><br>
                    <a class="lien" href="https://www.mesdroitssociaux.gouv.fr/dd1pnds-ria/#destination/simu-foyer" traget="_blank">Simulateur MSA - Allocations logement</a>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-2" aria-expanded="false"><span class="accordeon-title">APL, qui est concerné ?
</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Ce sont les locataire et sous-locataire (déclaré au propriétaire) d'un logement loué intégralement ou partiellement, à la condition d'être âgé de moins de 30 ans ou d'être hébergé chez un accueillant familial.<br>
                    Aucune condition d'âge minimum n'est exigée. Par conséquent, un enfant mineur peut percevoir l'APL, mais le bail doit être signé ou cosigné par ses parents. La quittance de loyer peut être établie au nom du mineur. S'il s'agit d'un mineur émancipé, le bail doit être à son nom.<br>
                    <i>À savoir : Les personnes étrangères doivent avoir un titre de séjour en cours de validité. Les ressortissants des États membres de l'Union européenne, des autres États parties à l'accord sur l'Espace économique européen et la Suisse ne sont pas obligés d'avoir un titre de séjour.</i></p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-3" aria-expanded="false"><span class="accordeon-title">APL, quelles conditions liées au logement ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>L'APL est attribuée pour ta résidence principale : Logement occupé au moins 8 mois par an (sauf obligation professionnelle, raison de santé ou cas de force majeure), soit par le locataire ou la personne avec laquelle il vit, soit par une personne à charge située en France et seulement si ton logement répond à certains critères de décence et de conditions minimales d'occupation.<br>Le logement doit être conventionné : Logement faisant l'objet d'une convention entre l’État et le propriétaire du logement (ou l'organisme gestionnaire du logement) et qui ouvre droit à une aide au logement ou à une aide de l'Agence nationale de l'habitat. Ton propriétaire est tenu de te l'indiquer (la plupart des logements HLM sont conventionnés).</p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-4" aria-expanded="false"><span class="accordeon-title">APL, quelles conditions liées aux ressources ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>L'APL est attribuée sous conditions de ressources et conformément à certains plafonds variant en fonction de la composition de ton foyer et du lieu de ton logement.<br>
                    Les ressources prises en compte sont celles des 12 derniers mois. Elles sont actualisées de manière automatique tous les 3 mois. Tu n’as donc aucune démarche à faire. La Caf ou la MSA récupère automatiquement le montant de tes ressources, notamment auprès des impôts, de Pôle emploi.<br>
                    <i>À savoir :  une personne rattachée au foyer fiscal de parents qui payent l'impôt sur la fortune immobilière (IFI) ne peut pas bénéficier de l'APL.</i></p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-5" aria-expanded="false"><span class="accordeon-title">Un étudiant peut-il toucher une aide au logement (APL, ALS, ALF) ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Oui. Si tu es étudiant, tu peux toucher une aide au logement si tu respectes les 4 conditions suivantes :<br>
                    - Tu es français ou étranger avec un titre de séjour en cours de validité<br>
                    - Tu loues un logement décent<br>
                    - Tu n’as pas de lien de parenté avec le propriétaire du logement que tu loues<br>
                    - Tu as des ressources (salaire, bourse...) inférieures à certains plafonds<br>
                    En cas de colocation, tu peux toucher une aide au logement. Le loyer pris en considération pour le calcul de l'aide est alors divisé en fonction du nombre de colocataires. Chaque colocataire doit faire sa propre demande d'aide au logement.<br>
                    <a class="lien" href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/estimervosdroits/lelogement/" traget="_blank">Simulateur Caf - Allocations logement</a><br>
                    <i>Attention : si tes parents touchent des allocations familiales et que tu touches une aide au logement, tu ne seras plus considéré à la charge de tes parents. Leurs prestations peuvent diminuer, voire être supprimées. Tu dois donc choisir entre toucher une aide au logement ou rester à la charge de tes parents.</i></p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-6" aria-expanded="false"><span class="accordeon-title">Colocation et assurance habitation, comment ça se passe ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Si tu loues un logement en colocation, au moins un des colocataires doit être assuré contre les risques locatifs (incendie, explosion, dégâts des eaux). Il faudra fournir au propriétaire chaque année une attestation qui prouve que le logement est toujours assuré contre ces risques. Si tu ne fournis pas l'attestation d'assurance au propriétaire, il a le droit de résilier le contrat de bail.<br>
                    Cependant, en cas de sinistre, la responsabilité de chaque colocataire est déterminée en fonction de sa part du loyer. Par exemple, s'il y a une franchise à payer, ta part sera calculée par rapport à ta part du loyer.Il est important donc que tu prennes une assurance pour couvrir ta responsabilité civile.</p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-7" aria-expanded="false"><span class="accordeon-title">Faut-il remettre une attestation d'assurance au propriétaire ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Tu dois fournir au propriétaire une attestation d'assurance au début de la location, puis ensuite chaque année.<br>
                    Si tu ne transmets pas l'attestation au propriétaire, il t’enverra une lettre pour te rappeler cette obligation. Si l'attestation ne lui est toujours pas transmise 1 mois après cette lettre rappel, le propriétaire pourra résilier le contrat de bail.<br>
                    Il pourra aussi souscrire lui-même une assurance pour le compte des colocataires et leur demander le remboursement.L'assurance souscrite par le propriétaire sera limitée aux risques locatifs. Il ajoutera 1/12ème de la cotisation annuelle au montant du loyer (plus éventuellement une majoration qui ne peut dépasser 10 % du montant de la mensualité d'assurance).</p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-8" aria-expanded="false"><span class="accordeon-title">Quelles conséquences sur l'assurance en cas de changement de colocataires ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Si des changements interviennent dans la colocation (départ ou arrivée d'un nouveau colocataire par exemple), tu dois prévenir le propriétaire et faire un avenant au contrat de location.<br>
                    Il en va de même pour le contrat d'assurance s'il est souscrit au nom de tous les colocataires.</p>
                </div>
            </div>

             <div class="accordeon-item">
                <button id="accordeon-button-9" aria-expanded="false"><span class="accordeon-title">Impôts locaux : qui paye la taxe d'habitation entre concubins ou en colocation ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Cas général<br>
                    Si tu occupes un logement à plusieurs, une seule taxe d'habitation est établie, au nom de l'un des colocataires. C'est donc cet occupant qui doit payer la taxe d'habitation. Les services des impôts ne se chargent pas de faire la répartition entre les colocataires.<br>
                    Vous souhaitez que la taxe soit établie à tous vos noms. Il est possible d'indiquer un second occupant sur l'avis de taxe d'habitation. Tu dois adresser une demande de taxation conjointe à ton service des impôts des particuliers, pour que la taxe soit établie aux différents noms.<br>
                    <a class="lien" href="https://www.impots.gouv.fr/contacts" traget="_blank">Service en charge des impôts</a></p>
                </div>
            </div>

            <div class="accordeon-item">
                <button id="accordeon-button-10" aria-expanded="false"><span class="accordeon-title">Étudiants : est-il possible de sous-louer son logement pendant les vacances ?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordeon-content">
                    <p>Sous-louer son appartement du parc privé pendant l'été peut permettre aux étudiants de faire des économies. C'est légal, mais il y a des règles à respecter.<br><br>
                    Quelles sont les règles pour sous-louer ?<br>
                    Tu dois obtenir l'accord écrit de ton bailleur sur : la possibilité de sous-louer et le montant du loyer de sous-location, qui ne peut pas excéder celui que tu payes.<br>
                    Envoi de préférence la demande d'autorisation de sous-location à ton propriétaire-bailleur par lettre recommandée avec accusé de réception. Tu peux mentionner la durée de la sous-location, avec la date de début et de fin, dans ta demande. Celle-ci ne peut pas dépasser la durée de ton bail.<br>
                    <a class="lien" href="https://www.inc-conso.fr/content/logement/vous-demandez-votre-bailleur-lautorisation-de-sous-louer-tout-ou-partie-de-votre-logement" traget="_blank">Plus d'infos</a></p>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}