@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

h1, h2, h3, h4, h5, h6, p, span, a, li, input, input::placeholder, select, label{
    font-family: 'Manrope', sans-serif;
}

h1{
    color: $noir;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
h3{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}
h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
h5{
    font-size: 14px;
    font-weight: 600;
}
h6{
    font-size: 14px;
    font-weight: 500;
}
p{
    font-size: 12px;
    font-weight: 300;
}
a{
    font-size: 13px;
    font-weight: 400;
}
label{
    font-size: 14px;
    color: $gris_fonce;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 12px;
}