// Couleurs
$corail: #ED6D62;
$jaune: #FAB512;
$turquoise: #01A6A1;
$sapin: #016966;
$blanc: #FFFFFF;
$noir: #000000;
$gris: #707070;
$blanc: #FFFFFF;


// Shadow
$box_shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
$shadow_menu: 0px 2px 12px 0px rgba(197, 197, 198, 0.418);


// Responsives
$tablette: 900px;
$mobile: 500px;