#coloc{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 0 2%;

    h1{
        font-size: 24px;
        font-weight: 700;

        span{
            font-size: 16px;
            font-weight: 400;
        }
    }

    // RECHERCHE
    .recherche{
        margin: 25px 0;

        form{
            display: flex;
            justify-content: space-between;
            input{
                border-radius: 15px;
                box-shadow: $shadow_recherche;
                padding: 10px 10px 10px 35px;
                border: none;
                color: $gris_fonce;
                &::placeholder{
                    color: $gris_fonce;
                }
                @media (max-width: $laptop) {
                    width: 100px;
                    padding: 8px 8px 8px 35px;
                }
                @media (max-width: $tablette) {
                    width: 120px;
                }
            }

            #ville{
                background-image:url("../../../../public/img/picto_recherche.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat; 
                @media (max-width: $paysage) {
                    width: 55%;;
                }
            }
            #date{
                background-image:url("../../../../public/img/picto_date.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat;
                @media (max-width: $tablette) {
                    display: none;
                }
            }
            #select{
                background-image:url("../../../../public/img/picto_type.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat; 
                padding: 10px 10px 10px 32px;
                @media (max-width: $tablette) {
                    display: none;
                }
            }
            #budget{
                background-image:url("../../../../public/img/picto_budget.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat; 
                @media (max-width: $paysage) {
                    display: none;
                }
            }
            #surface{
                background-image:url("../../../../public/img/picto_surface.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat; 
                @media (max-width: $paysage) {
                    display: none;
                }
            }
            #filtre{
                background-image:url("../../../../public/img/picto_filtre.svg");
                background-position: 12px 12px; 
                background-repeat: no-repeat; 
                @media (max-width: $paysage) {
                    width: 25%;;
                }
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
            select{
                border-radius: 15px;
                box-shadow: $shadow_recherche;
                padding: 10px 25px;
                border: none;
                color: $gris_fonce;
                
            }
        }
    }


    // ANNONCE
    .annonce{
        display: flex;
        flex-direction: row;
        background-color: $blanc;

        div{
            width: calc(100% / 2);
            margin: 0 8px;
        }

        .carte{
            
            img{
                width: 100%;
            }
            @media (max-width: $tablette) {
                width: 35%;
            }
            @media (max-width: $paysage) {
                display: none;
            }
            
        }

       .modal{
        width: 50%;
        
        .offre{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 0 15px 0;

            article{
                width: calc(100% / 2);
                margin: 0 5px;
                background-color: $blanc;
                border-radius: 35px;
                box-shadow: $shadow_offre;
                height: 345px;
                transition: transform .2s;

                &:hover {
                    -ms-transform: scale(1.02); 
                    -webkit-transform: scale(1.02);
                    transform: scale(1.02); 
                }

                .photo{
                border-radius: 30px 30px 0px 0px;
                width: 100%;
                }
                @media (max-width: $ecran) {
                    height: 300px;
                }
                @media (max-width: $tablette) {
                    height: 310px;
                }
                @media (max-width: $paysage) {
                    height: 420px;
                    width: 80%;
                    margin: 10px;
                }
                @media (max-width: 585px) {
                    height: auto;
                }
            }

            .infos{
                position: relative;
                width: auto;
                margin: 0 20px;

                .favoris{
                    position: absolute;
                    top: -160px;
                    right: -6px;
                    @media (max-width: $laptop) {
                        top: -148px;
                    }
                    @media (max-width: 1120px) {
                        top: -130px;
                    }
                    @media (max-width: $ecran) {
                        top: -120px;
                    }
                    @media (max-width: $tablette) {
                        top: -130px;
                    }
                    @media (max-width: $paysage) {
                        top: -245px;
                        width: 45px;
                    }
                    @media (max-width: 585px) {
                        top: -225px;
                    }
                    @media (max-width: 500px) {
                        top: -190px;
                    }
                    @media (max-width: $mobile) {
                        top: -170px;
                    }
                    @media (max-width: 400px) {
                        top: -155px;
                        width: 35px;
                    }
                    @media (max-width: 350px) {
                        top: -135px;
                    }
                    @media (max-width: 320px) {
                        top: -125px;
                        width: 30px;
                    }
                }

                .coloc{
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    top: -40px;
                    right: -15px;
                    justify-content: flex-end;
                    img{
                        margin: 0 2px;
                        width: 26%;
                    }
                }

                .lieu{
                    margin-top: 18px;
                    width: auto;

                    ul{
                        display: flex;
                        flex-direction: row;

                        li{
                            padding: 0 2px;
                            font-size: 14px;
                            color: $gris_fonce;
                            img{
                                padding-right: 6px;
                                width: 15px;
                            }
                            @media (max-width: 585px) {
                                font-size: 16px;
                            }
                            @media (max-width: 320px) {
                                font-size: 14px;
                            }
                            
                        }
                    }
                }

                .logement{
                    margin-top: 8px;
                    width: auto;

                    ul{
                        display: flex;
                        flex-direction: row;

                        li{
                            padding: 0 2px;
                            font-size: 16px;
                            font-weight: 600;
                            sup{
                                font-size: 8px;
                            }
                            @media (max-width: 585px) {
                                font-size: 18px;
                            }
                            @media (max-width: 320px) {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .dispo{
                    width: auto;
                    color: $gris_fonce;
                    @media (max-width: 585px) {
                        font-size: 14px;
                    }
                }

                .detail{
                    margin-top: 15px;
                    width: auto;
                    display: flex;
                    flex-direction: row;

                    ul{
                        display: flex;
                        flex-direction: row;
                        width: auto;
                        margin-right: 10px;

                        li{
                            padding: 0 2px;
                            font-size: 14px;
                            color: $gris_fonce;
                            img{
                                width: 18px;
                                @media (max-width: 585px) {
                                    width: 22px;
                                }
                                @media (max-width: 320px) {
                                    width: 18px;
                                }
                            }
                            sup{
                                font-size: 8px;
                            }
                            @media (max-width: 585px) {
                                font-size: 16px;
                            }
                            @media (max-width: 320px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .prix{
                    margin-top: 6px;
                    width: auto;

                    h3{
                        font-size: 24px;
                        color: $turquoise;
                        font-weight: 700;
                        span{
                            color: $noir;
                            font-weight: 500;
                            font-size: 13px;
                            @media (max-width: 585px) {
                                font-size: 15px;
                            }
                        }
                        @media (max-width: 585px) {
                            font-size: 28px;
                        }
                        @media (max-width: 320px) {
                            font-size: 24px;
                        }
                    }

                }
            }
            @media (max-width: $paysage) {
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        @media (max-width: $tablette) {
            width: 60%;
        }
        @media (max-width: $paysage) {
            width: 100%;
        }
        
       }
    }
    @media (max-width: $paysage) {
        margin-bottom: 50px;
        padding: 0 3%;
    }
}