#inscription{
    background-color: $corail;
    box-shadow: $shadow_menu;

    .contain{
        display: flex;

        .part-fond{
            width: 40%;
        }

        .part-form{
            background-color: $blanc;
            width: 60%;
            .fond{
                margin-top: 120px;
                margin-bottom: 20px;
                width: 90%;
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;

                article{
                    margin-bottom: 30px;

                    h1{
                        color: $corail;
                        font-weight: 600;
                        line-height: 46px;
                        margin-top: 15px;
                    }
                    h3{
                        text-align: center;
                        font-size: 14px;
                        font-weight: 300;

                        a{
                            color: $corail;
                            margin-left: 5px;
                            &:hover{
                                color:$corail_medium;
                            }
                        }
                    }
                    p{
                        font-size: 16px;
                        color: $gris;
                        margin-bottom: 15px;
                    }

                    form{
                        width: 70%;
                        margin-left: auto;
                        margin-right: auto;

                        button{
                            border-radius: 30px;
                            border: 1px solid $corail;
                            background-color: $corail;
                            color: $blanc;
                            height: 40px;
                            width: 180px;
                            font-size: 14px;
                            margin: 0 auto 0;
                        }

                        div{
                            display: flex;
                            flex-direction: column;
                            margin: 2px 0;

                            li{
                                color: $corail;
                                font-size: 12px;
                                margin-left: 10px;
                            }

                            input{
                                border-radius: 35px;
                                border: 1px solid $blanc;
                                background-color: $blanc;
                                box-shadow: $shadow_offre;
                                height: 25px;
                                padding: 5px 10px;
                            }
                        }

                        .nom{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            div{
                                width: 46%;
                            }
                        }
                        .naissance{
                            div{
                                display: flex;
                                flex-direction: column;
                                #registration_form_naissance{
                                    display: flex;
                                    flex-direction: row;

                                    select{
                                        width: calc(100% / 3);
                                        margin: 0 5px;
                                        border-radius: 35px;
                                        border: 1px solid $blanc;
                                        background-color: $blanc;
                                        box-shadow: $shadow_offre;
                                        padding: 5px 10px;
                                    }
                                }


                            }
                
                        }
                        .condition{
                            margin: 10px 0 20px;
                            div{
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                align-items: center;
                                label{
                                    margin: 0;
                                }
                                input{
                                    box-shadow: none;
                                    margin-right: 10px;
                                }
                            }
                            input[type="checkbox"]:checked::after {
                                background-color: $corail;
                            }
                        }

                        
                    }
                }

                
            }
        }
    }
}
